{{ define "partials/footer.html" }}
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/libs/slick/slick.min.js"></script>
    
    <script type="text/javascript">
        // Bootstrap tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // Carousel
        
        $(document).ready(function(){
            $('.cast').slick({
                infinite: false,
                variableWidth: true,
                swipeToSlide: true,
            });
        });
        
    </script>
    
</body>

</html>
{{ end }}