{{ define "partials/header.html" }}
<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }} · starfin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External libs CSS -->
    <link rel="stylesheet" type="text/css" href="/static/libs/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/flag-icons/css/flag-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/libs/slick/slick-theme.css"/>

    <!-- Custom CSS & JS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/script.js"></script>
</head>

<body class="bg-dark text-white">
    {{ template "partials/menu.html" . }}
{{ end }}