{{ define "partials/header.go.html" }}
<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }} · starfin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- External libs CSS -->
    <link rel="stylesheet" type="text/css" href="/static/libs/fontawesome-6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/flag-icons-6.6.5/css/flag-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-5.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/slick-1.8.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/slick-1.8.1/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/tagify-4.16.4/tagify.css" />

    <!-- Custom CSS & JS -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <script src="/static/js/buttonActions.js"></script>
</head>

<body class="bg-dark text-white">
    {{ template "partials/menu.go.html" . }}
    {{ end }}