{{ define "partials/header.html" }}
<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }} · starfin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/flag-icons/css/flag-icons.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/script.js"></script>
</head>

<body class="bg-dark text-white">
    {{ template "partials/menu.html" . }}
{{ end }}