{{ define "partials/header.html" }}
<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/static/css/fontawesome-all.min.css"> -->
    <!-- <script src="https://kit.fontawesome.com/28e12d81d8.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/script.js"></script>
</head>

<body class="bg-dark text-white">
    {{ template "partials/menu.html" . }}
{{ end }}