{{ define "pages/admin_volume.go.html" }}
{{ template "partials/header.go.html" . }}
<section>
    {{ if .error }}
    <p style="color:red">{{ .error }}</p>
    {{ end }}
</section>
<div class="container py-5 w-50">
    <!-- TODO: QOL - Auto-complete path input -->
    {{ if .new }}
    <form action="/admin/editvolume" method="post">
        <input type="hidden" id="id" name="id" value="">
        <div class="mb-3">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" size="20" placeholder="Volume name">
        </div>
        <div class="mb-3">
            <label for="path">Path</label>
            <input class="form-control" type="text" id="path" name="path" placeholder="Path to volume">
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="recursive" name="recursive" value="recursive">
            <label class="form-check-label" for="recursive">Include subfolders</label>
        </div>
        <div class="mb-3">
            <label>Media type</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediatype-movie" name="mediatype" value="Movie" checked>
                <label class="form-check-label" for="mediatype-movie">Movie</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediatype-tv" name="mediatype" value="TV">
                <label class="form-check-label" for="mediatype-tv">TV Series</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new volume</button>
    </form>
    {{ else }}
    <form action="/admin/editvolume" method="post">
        <input type="hidden" id="id" name="id" value="{{ .id }}">
        <div class="mb-3">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" name="name" size="20" placeholder="Volume name" {{ if .volume.Name }}value="{{ .volume.Name }}" {{ end }}>
        </div>
        <div class="mb-3">
            <label for="path">Path</label>
            <input class="form-control" type="text" id="path" name="path" placeholder="Path to volume" {{ if .volume.Path }}value="{{ .volume.Path }}" {{ end }}>
        </div>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="recursive" name="recursive" value="recursive" {{ if .volume.IsRecursive }}checked{{ end }}>
            <label class="form-check-label" for="recursive">Include subfolders</label>
        </div>
        <div class="mb-3">
            <label>Media type</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediatype-movie" name="mediatype" value="Movie" {{ if eq .volume.MediaType "Movie" }}checked{{ end }}>
                <label class="form-check-label" for="mediatype-movie">Movie</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="mediatype-tv" name="mediatype" value="TV" {{ if eq .volume.MediaType "TV" }}checked{{ end }}>
                <label class="form-check-label" for="mediatype-tv">TV Series</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit volume</button>
    </form>
    {{ end }}
</div>
{{ template "partials/footer.go.html" . }}
{{ end }}