{{ define "pages/admin.go.html" }}
{{ template "partials/header.go.html" . }}
<section>
    {{ if .error }}
    <p style="color:red">{{ .error }}</p>
    {{ end }}
</section>
<div class="container py-5 text-center">
    <h2>Cache</h2>
    <button type="button" class="btn btn-secondary" onclick="reloadCache(this)">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
        Reload cache
    </button>
</div>
<div class="container py-5 text-center">
    <h2>Volumes</h2>
    <table class="table table-dark table-striped w-50 mx-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Recursive</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $volume := .volumes }}
            <tr>
                <td><a href="/admin/volume/{{ hexID $volume.id }}">{{ $volume.Name }}</a></td>
                <td><code>{{ $volume.Path }}</code></td>
                <td>{{if $volume.IsRecursive}}✓{{end}}</td>
                <td><span class="media {{ $volume.MediaType }}">{{ $volume.MediaType }}</span></td>
                <td><button class="btn p-0 text-white" onclick="deleteVolume(this)" volumeId="{{ hexID .id }}"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
            {{ end }}
            <tr>
                <td colspan="5" class="admin-add-new"><a href="/admin/volume/new">Add new volume</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container py-5 text-center">
    <h2>Users</h2>
    <table class="table table-dark table-striped w-50 mx-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $user := .users }}
            <tr>
                <td><a href="/admin/user/{{ hexID $user.id }}">{{ $user.Name }}</a></td>
                <td>{{if $user.IsAdmin}}✓{{end}}</td>
                {{if $user.IsOwner}}
                <td>✓</td>
                <td></td>
                {{else}}
                <td></td>
                <td><button class="btn p-0 text-white" onclick="deleteUser(this)" userId="{{ hexID $user.id }}"><i class="fas fa-trash-alt"></i></button></td>
                {{end}}
            </tr>
            {{ end }}
            <tr>
                <td colspan="4" class="admin-add-new"><a href="/admin/user/new">Add new user</a></td>
            </tr>
        </tbody>
    </table>
</div>
{{ template "partials/footer.go.html" . }}
{{ end }}