{{ define "pages/movie.go.html" }}
{{ template "partials/header.go.html" . }}
<style>
    header {
        background: rgba(var(--bs-dark-rgb), 0.9);
    }

    .backdrop {
        position: fixed;
        z-index: -999;
        top: 0;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));

        min-height:100%;
        min-width:100%;
        transform: translateX(-50%);
        width:auto;
        height:auto;
        left: 50%;

        pointer-events: none;
    }

    .classif {
        border: 0.09em solid;
        padding: 0 0.6em 0.1em 0.6em;
        border-radius: 0.1em;
        font-size: 80%;
    }

    td {
        padding-left: 0px !important;
        width: 10%;
    }

    .extlink {
        margin-left: 5px;
        margin-right: 5px;
    }

    a.dl-movie {
        color: white;
        float: right;
    }

    a.dl-sub {
        color: white;
        margin-right: 5px;
    }

    .nav-tabs .nav-link {
        color: rgb(165, 165, 165);
        background-color: inherit;
        border: none;
    }

    .nav-tabs .nav-link.active {
        color: white;
        background-color: inherit;
        border-bottom: 2px solid red;
    }

    #filesTabsContent {
        border: 1px solid rgb(129, 129, 129);
        border-top: none;
    }

    #mediaInfoTabsContent {
        height: 400px;
        overflow-y: auto;
    }

    #mediaInfoTabsContent ul {
        border-bottom: 1px solid rgb(129, 129, 129);
    }

    #mediaInfoTabsContent td {
        color: gray;
    }

    #mediaInfoTabsContent th {
        font-weight: normal;
    }

    .cast {
        width: calc(100% - 80px);
        margin: auto;
    }

    .cast .actor {
        min-width: 185px;
        max-width: 185px;
    }

    .cast .actor a {
        color: white;
        text-decoration: none;
    }

    .cast .actor p:first-child {
        font-size: 11pt;
    }

    .cast .actor p.character {
        line-height: 1rem;
        color: #a0a0a0;
        font-size: 10pt;
    }
</style>
<section>
    {{ if .error }}
    <p style="color:red">{{ .error }}</p>
    {{ end }}
</section>
{{if .movie.BackdropPath}}
<img class="backdrop" src="{{getImageURL "backdrop" .movie.BackdropPath}}" ondragstart="retFalse()" width="1280"/>
{{end}}
<div class="container">
    <div class="row mt-5">
        <!-- Poster -->
        <div class="col-12 col-sm-4 mb-3">
            {{if .movie.PosterPath}}
            <img class="img-fluid" src="{{getImageURL "poster" .movie.PosterPath}}" width="342"/>
            {{else}}
            <img class="img-fluid" src="/static/images/no_poster.png" width="342"/>
            {{end}}
        </div>
        <!-- Movie info -->
        <div class="col-12 col-sm-8">
            <!-- Title(s) -->
            <p class="mb-2">
                <span class="fs-1 fw-bold me-3">{{movieName .movie}}</span>
                {{if ne .movie.Title .movie.OriginalTitle}}
                <span class="fs-3 fst-italic d-inline-block">{{.movie.OriginalTitle}}</span>
                {{end}}
            </p>
            <!-- General info -->
            <div class="row row-cols-auto my-3">
                <div class="col mb-2"><span class="fw-bold">{{.movie.ReleaseYear}}</span></div>
                <div class="col">{{.movie.Runtime}} min</div>
                {{if .movie.Classification}}<div class="col"><span class="classif">{{.movie.Classification}}</span></div>{{end}}
                {{if .movie.IMDbRating}}<div class="col" data-bs-toggle="tooltip" data-bs-placement="top" title="IMDb rating"><i class="fa-solid fa-star" style="color: #eed33a"></i> {{.movie.IMDbRating}}</div>{{end}}
                {{if .movie.LetterboxdRating}}<div class="col" data-bs-toggle="tooltip" data-bs-placement="top" title="Letterboxd rating"><img src="/static/images/letterboxd.png" height="12" class="align-baseline" /> {{.movie.LetterboxdRating}}</div>{{end}}
                <div class="col">
                    {{range $_, $country := .movie.ProdCountries}}
                    <span class="flag-icon flag-icon-{{lower $country}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{countryName $country}}"></span>
                    {{end}}
                </div>
            </div>
            <div>
                <!-- Crew -->
                <table class="table table-borderless table-sm text-white">
                    <tbody>
                        <tr>
                            <td>{{$genresLength := len .movie.Genres}}{{if gt $genresLength 1}}Genres{{else}}Genre{{end}}</td>
                            <th>{{join .movie.Genres ", "}}</th>
                        </tr>
                        <tr>
                            <td>{{$directorsLength := len .movie.Directors}}{{if gt $directorsLength 1}}Directors{{else}}Director{{end}}</td>
                            <th>
                                {{range $idx, $dir := .directors}}
                                {{$idx := add $idx 1}}
                                <a href="/director/{{$dir.TMDBID}}">{{$dir.Name}}</a>{{if lt $idx $directorsLength}}, {{end}}
                                {{end}}
                            </th>
                        </tr>
                        <tr>
                            <td>{{$writersLength := len .movie.Writers}}{{if gt $writersLength 1}}Writers{{else}}Writer{{end}}</td>
                            <th>
                                {{range $idx, $dir := .writers}}
                                {{$idx := add $idx 1}}
                                <a href="/writer/{{$dir.TMDBID}}">{{$dir.Name}}</a>{{if lt $idx $writersLength}}, {{end}}
                                {{end}}
                            </th>
                        </tr>
                    </tbody>
                </table>
                <!-- Tagline & overview -->
                <p class="fst-italic">{{.movie.Tagline}}</p>
                <p>{{.movie.Overview}}</p>
            </div>
            <!-- External links -->
            <div>
                <p>View on <a href="https://www.imdb.com/title/{{.movie.IMDbID}}/" class="extlink"><img src="/static/images/imdb.png" height="20"/></a> <a href="https://www.themoviedb.org/movie/{{.movie.TMDBID}}"><img src="/static/images/tmdb.png" height="20"/></a></p>
            </div>
            <!-- Cast -->
            <div class="cast">
                {{range $idx, $actor := .cast}}
                <div class="actor mx-2 text-center">
                    <a href="/actor/{{$actor.Id}}">
                        {{if $actor.Photo}}
                        <img class="img-fluid" src="{{getImageURL "photo" $actor.Photo}}" alt="{{$actor.Name}}" width="185"/>
                        {{else}}
                        <img class="img-fluid" src="/static/images/no_profile.png" alt="{{$actor.Name}}" width="185"/>
                        {{end}}
                        <p class="fw-bold mt-2 mb-1">{{$actor.Name}}</p>
                        {{if $actor.Character}}<p class="character">as {{$actor.Character}}</p>{{end}}
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <!-- File infos -->
    <div>
        <!-- File selection -->
        <ul class="nav nav-tabs nav-fill" id="filesTabs" role="tablist">
            {{range $idx, $path := .movie.VolumeFiles}}
            <li class="nav-item" role="presentation">
                <span class="nav-link {{if eq $idx 0}}active{{end}}" id="files-{{$idx}}-tab" data-bs-toggle="tab" data-bs-target="#files-{{$idx}}" type="button" role="tab" aria-controls="files-{{$idx}}" aria-selected="true">
                    {{joinStrings " - " $.movie.Name $.movie.Resolution $path.Info.FileSize}}
                    <!-- Download button -->
                    <a href="/movie/{{movieID $.movie}}/download/{{$idx}}" download="{{basename $path.Path}}" class="dl-movie"><i class="fa-solid fa-download"></i></a>
                </span>
            </li>
            {{end}}
        </ul>
        <!-- MediaInfo display -->
        <div class="tab-content mb-4 p-2" id="filesTabsContent">
            {{range $idx, $path := .movie.VolumeFiles}}
            {{$extSubLength := len $path.ExtSubtitles}}
            <div class="tab-pane fade show {{if eq $idx 0}}active{{end}}" id="files-{{$idx}}" role="tabpanel" aria-labelledby="files-{{$idx}}-tab">
                <!-- MediaInfo categories -->
                <ul class="nav nav-tabs" id="mediaInfoTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <span class="nav-link active" id="mediaInfo-{{$idx}}-overview-tab" data-bs-toggle="tab" data-bs-target="#mediaInfo-{{$idx}}-overview" type="button" role="tab" aria-controls="mediaInfo-{{$idx}}-overview" aria-selected="true">
                            Overview
                        </span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span class="nav-link" id="mediaInfo-{{$idx}}-video-tab" data-bs-toggle="tab" data-bs-target="#mediaInfo-{{$idx}}-video" type="button" role="tab" aria-controls="mediaInfo-{{$idx}}-video" aria-selected="true">
                            Video
                        </span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span class="nav-link" id="mediaInfo-{{$idx}}-audio-tab" data-bs-toggle="tab" data-bs-target="#mediaInfo-{{$idx}}-audio" type="button" role="tab" aria-controls="mediaInfo-{{$idx}}-audio" aria-selected="true">
                            Audio
                        </span>
                    </li>
                    <li class="nav-item" role="presentation">
                        <span class="nav-link" id="mediaInfo-{{$idx}}-subs-tab" data-bs-toggle="tab" data-bs-target="#mediaInfo-{{$idx}}-subs" type="button" role="tab" aria-controls="mediaInfo-{{$idx}}-subs" aria-selected="true">
                            Subtitles
                        </span>
                    </li>
                    {{if gt $extSubLength 0}}
                    <li class="nav-item" role="presentation">
                        <span class="nav-link" id="extsub-{{$idx}}-tab" data-bs-toggle="tab" data-bs-target="#extsub-{{$idx}}" type="button" role="tab" aria-controls="extsub-{{$idx}}" aria-selected="true">
                            External subtitles
                        </span>
                    </li>
                    {{end}}
                    <li class="nav-item" role="presentation">
                        <span class="nav-link" id="mediaInfo-{{$idx}}-full-tab" data-bs-toggle="tab" data-bs-target="#mediaInfo-{{$idx}}-full" type="button" role="tab" aria-controls="mediaInfo-{{$idx}}-full" aria-selected="true">
                            Full
                        </span>
                    </li>
                </ul>
                <!-- MediaInfo categories display -->
                <div class="tab-content mt-2 mb-1 p-2" id="mediaInfoTabsContent">
                    <!-- MediaInfo Overview -->
                    <div class="tab-pane fade show active" id="mediaInfo-{{$idx}}-overview" role="tabpanel" aria-labelledby="mediaInfo-{{$idx}}-overview-tab">
                        <table class="table table-borderless table-sm text-white">
                        <tbody>
                            <tr>
                                <td>File name</td>
                                <th>{{basename $path.Path}}</th>
                            </tr>
                            <tr>
                                <td>File size</td>
                                <th>{{$path.Info.FileSize}}</th>
                            </tr>
                            <tr>
                                <td>Duration</td>
                                <th>{{$path.Info.Duration}}</th>
                            </tr>
                            <tr>
                                <td>Format</td>
                                <th>{{$path.Info.Format}}</th>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <!-- MediaInfo Video(s) -->
                    <div class="tab-pane fade show" id="mediaInfo-{{$idx}}-video" role="tabpanel" aria-labelledby="mediaInfo-{{$idx}}-video-tab">
                        {{$videosLength := len $path.Info.Video}}
                        {{range $videoIdx, $video := $path.Info.Video}}
                            {{if gt $videosLength 1}}
                            {{if gt $videoIdx 0}}
                            <hr>
                            {{end}}
                            <div class="mb-2">Video #{{add $videoIdx 1}}</div>
                            {{end}}
                            <table class="table table-borderless table-sm text-white">
                            <tbody>
                                <tr>
                                    <td>Codec</td>
                                    <th>{{$video.CodecID}}</th>
                                </tr>
                                <tr>
                                    <td>Profile</td>
                                    <th>{{$video.Profile}}</th>
                                </tr>
                                <tr>
                                    <td>Resolution</td>
                                    <th>{{$video.Resolution}}</th>
                                </tr>
                                <tr>
                                    <td>Frame Rate</td>
                                    <th>{{$video.FrameRate}}</th>
                                </tr>
                                <tr>
                                    <td>Bit Depth</td>
                                    <th>{{$video.BitDepth}}</th>
                                </tr>
                            </tbody>
                            </table>
                        {{end}}
                    </div>
                    <!-- MediaInfo Audio(s) -->
                    <div class="tab-pane fade show" id="mediaInfo-{{$idx}}-audio" role="tabpanel" aria-labelledby="mediaInfo-{{$idx}}-audio-tab">
                        {{$audiosLength := len $path.Info.Audio}}
                        {{range $audioIdx, $audio := $path.Info.Audio}}
                            {{if gt $audiosLength 1}}
                            {{if gt $audioIdx 0}}
                            <hr>
                            {{end}}
                            <div class="mb-2">Audio #{{add $audioIdx 1}}</div>
                            {{end}}
                            <table class="table table-borderless table-sm text-white">
                            <tbody>
                                <tr>
                                    <td>Codec</td>
                                    <th>{{$audio.CodecID}}</th>
                                </tr>
                                <tr>
                                    <td>Channels</td>
                                    <th>{{$audio.Channels}}</th>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <th>{{$audio.Language}}</th>
                                </tr>
                                <tr>
                                    <td>Sampling Rate</td>
                                    <th>{{$audio.SamplingRate}}</th>
                                </tr>
                            </tbody>
                            </table>
                        {{end}}
                    </div>
                    <!-- MediaInfo Sub(s) -->
                    <div class="tab-pane fade show" id="mediaInfo-{{$idx}}-subs" role="tabpanel" aria-labelledby="mediaInfo-{{$idx}}-subs-tab">
                        {{$subsLength := len $path.Info.Subs}}
                        {{range $subIdx, $sub := $path.Info.Subs}}
                            {{if gt $subsLength 1}}
                            {{if gt $subIdx 0}}
                            <hr>
                            {{end}}
                            <div class="mb-2">Subtitle #{{add $subIdx 1}}</div>
                            {{end}}
                            <table class="table table-borderless table-sm text-white">
                            <tbody>
                                <tr>
                                    <td>Codec</td>
                                    <th>{{$sub.CodecID}}</th>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <th>{{$sub.Language}}</th>
                                </tr>
                                <tr>
                                    <td>Forced</td>
                                    <th>{{$sub.Forced}}</th>
                                </tr>
                            </tbody>
                            </table>
                        {{end}}
                    </div>
                    <!-- External subtitles -->
                    <div class="tab-pane fade show" id="extsub-{{$idx}}" role="tabpanel" aria-labelledby="extsub-{{$idx}}-tab">
                        {{range $subIdx, $sub := $path.ExtSubtitles}}
                            {{if gt $subIdx 0}}
                            <hr>
                            {{end}}
                            <div class="mb-2"><a href="/movie/{{movieID $.movie}}/download/{{$idx}}/sub/{{$subIdx}}" download="{{basename $sub.Path}}" class="dl-sub"><i class="fa-solid fa-download"></i></a> Subtitle #{{add $subIdx 1}}</div>
                            <table class="table table-borderless table-sm text-white">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <th>{{basename $sub.Path}}</th>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <th>{{$sub.Language}}</th>
                                </tr>
                            </tbody>
                            </table>
                        {{end}}
                    </div>
                    <!-- MediaInfo Full Output -->
                    <div class="tab-pane fade show" id="mediaInfo-{{$idx}}-full" role="tabpanel" aria-labelledby="mediaInfo-{{$idx}}-full-tab">
                        {{$path.Info.FullOutput}}
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{ template "partials/footer.go.html" . }}
{{ end }}