@font-face {
    font-family: "Noto Sans";
    src: url("/static/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("/static/fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url("/static/fonts/NotoSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("/static/fonts/NotoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Noto Sans";
}

table a,
table a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.item {
    width: 154px;
    height: 255px;
    margin: 10px;
    position: relative;
}

.item > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    font-size: 10pt;
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.item img {
    background-color: black;
}

.item img:hover {
    opacity: 0.6;
    outline: 2px red solid;
}

.item a {
    color: white;
    text-decoration: none;
}

.item div.poster {
    width: 154px;
    height: 231px;
    background-color: #44494d;
}

.item div.poster:hover {
    opacity: 0.6;
    outline: 2px red solid;
}

.item div.poster span {
    display: block;
    margin: 0px 5px;
    font-size: 20pt;
    height: 100%;
}

.movie-container {
    min-height: 720px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pagination .page-link {
    background-color: transparent !important;
    color: #9ab;
    border: none;
    transition: none;
    box-shadow: none;
}

.pagination .active .page-link {
    color: #567;
    cursor: default;
}

.pagination .dots {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    color: #9ab;
    cursor: default;
}

.pagination .page-item:not(.active):not(.dots):hover {
    background-color: #303840;
}

.pagination :not(.active):not(.dots) .page-link:hover {
    color: #def
}